################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mhublall.github.io/FileContentIndex/aa698adf-3dec-4a10-9b21-fe09ad756df9.vsidx
/.vs/mhublall.github.io/FileContentIndex/f25e0765-66ce-4a63-930c-40bd8734332b.vsidx
/.vs/mhublall.github.io/FileContentIndex/3697ee87-a0c0-4b9d-a84e-6f4614f3bf42.vsidx
*.vsidx
